rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Allow users to read and write their own data.
      // This is permissive to allow the "Become Admin" button to work.
      allow read, write: if request.auth.uid == userId;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
